<div class="row" id="about">
	<div class="col-md-8 col-xs-10">
		<h1>About Berlin Bike</h1>
		<p>A guided bicycle tour is the best way to discover Berlin. In smaller, individualized groups, you’ll enjoy the city’s expansive, green and primarily flat urban landscape. On routes, almost entirely separated from automobile traffic, our guides will take you to some of Berlin’s most interesting, exciting and unexpected places.</p>
	</div>
</div>
