h1 {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: #3a747c;
}

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-form {
	margin-left: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}